#modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  background-color: rgb(255, 255, 255);
  animation: slideInFromBottom 0.5s ease-in-out;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.438);
}
#list-links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-inline: 10px;
  display: flex;
}
#list-links a,
#list-links span {
  text-decoration: none;
  user-select: none;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  width: fit-content;
  font-weight: 400;
  padding-inline: 40px;
  padding-block-start: 10px;
  padding-block-end: 0px;
  font-size: 1.75rem;
  letter-spacing: 5px;
}
#list-links span {
  color: rgba(24, 8, 2, 0.363);
}
#list-projects a {
  font-weight: 700;
  margin-left: 100px;
}

#spacer-menu {
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.burger {
  position: absolute;
  z-index: 1000;
  width: 25px;
  height: 14px;
  background: transparent;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 10px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  background-color: rgb(0, 0, 0);
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  background-color: rgb(0, 0, 0);
  top: 17px;
  left: 5px;
}

@media only screen and (min-width: 700px) {
  #modal-menu {
    justify-content: flex-end;
    height: 100vh;
    width: 40vw;
    animation: slideInFromRight 0.75s ease-in-out;
  }
  .burger {
    width: 30px;
    height: 17px;
  }
  .burger input:checked ~ span:nth-of-type(3) {
    top: 21px;
  }
  #list-links a,
  #list-links span {
    font-size: 2.5rem;
  }
  #list-links {
    padding-inline: 30px;
  }
  #list-links {
    margin-top: 60px;
    padding-inline: 10px;
  }
  #link-project {
    margin-left: 100px;
  }
  #list-projects a {
    margin-left: 150px;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(-200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
